.map-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.map-frame {
	border: 2px solid black;
	height: 100%;
}

#map {
	height: 100%;
}

.iaqi {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 1em;
}