<div class="card card-custom" style="height: 80vh;">
	<div class="card-header">
		<h1 style="line-height: normal;">Map</h1>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col" style="position: relative; height: 50%; min-height: 400px;">
				<div class="map-container">
					<div class="map-frame">
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div class="col" style="display: flex; flex-direction: column; justify-content: center;">
				<div class="form-group">
					<label for="city" class="form-label">Paises</label>
					<select name="city" id="city" (change)="getCity()" [(ngModel)]="city" class="form-select">
						<option value="here">Posición actual</option>
						<option *ngFor="let city of countries" value="{{city}}">{{city}}</option>
					</select>
				</div>
				<div *ngIf="iaqi" class="iaqi">
					<hr>
					<h5>Índices de Calidad de Aire Individuales</h5>
					<span *ngIf="iaqi.co"><b>Monóxido de Carbono <span class="text-muted">(CO)</span></b>:
						{{iaqi.co.v}}</span>
					<span *ngIf="iaqi.h"><b>Humedad <span class="text-muted">(H)</span></b>:
						{{iaqi.h.v}}</span>
					<span *ngIf="iaqi.no2"><b>Dióxido de nitrógeno <span class="text-muted">(NO<sub>2</sub>)</span></b>:
						{{iaqi.no2.v}}</span>
					<span *ngIf="iaqi.o3"><b>Ozono <span class="text-muted">(O<sub>3</sub>)</span></b>:
						{{iaqi.o3.v}}</span>
					<span *ngIf="iaqi.p"><b>Presión <span class="text-muted">(P)</span></b>:
						{{iaqi.p.v}}</span>
					<span *ngIf="iaqi.pm10"><b>Partículas <span class="text-muted">(PM<sub>10</sub>)</span></b>:
						{{iaqi.pm10.v}}</span>
					<span *ngIf="iaqi.pm25"><b>Partículas <span class="text-muted">(PM<sub>25</sub>)</span></b>:
						{{iaqi.pm25.v}}</span>
					<span *ngIf="iaqi.so2"><b>Dióxido de Azufre <span class="text-muted">(SO<sub>2</sub>)</span></b>:
						{{iaqi.so2.v}}</span>
					<span *ngIf="iaqi.t"><b>Temperatura <span class="text-muted">(T)</span></b>:
						{{iaqi.t.v}}</span>
					<span *ngIf="iaqi.w"><b>Viento <span class="text-muted">(W)</span></b>:
						{{iaqi.w.v}}</span>

				</div>
			</div>
		</div>
	</div>
</div>