<div class="col">
  <div class="d-flex gap-2 justify-content-end">
    <button class="button login__submit" (click)="EjecutarAccion()">
      <span class="button__text">{{text}}</span>
       <i  class="button__icon fas fa-chevron-right"></i> 
    </button>
  </div>
</div>
