<button class="btn {{object.button_class}}" [disabled]="disabled || object.loading" (click)="clicked.emit(true)">
	<ng-container *ngIf="!object.loading">
		<i class="fa {{object.icon}}"></i>
	</ng-container>
	<ng-container *ngIf="object.loading">
		<div class="loading"> 
			<svg width="16px" height="12px">
			  <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
			  <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
			</svg>
		</div>
	</ng-container>{{object.message}}
</button>