.loading {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(2); */
	display: inline-block;
}
.loading svg polyline {
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.loading svg polyline#back {
	stroke: rgb(0, 57, 0);
}
.loading svg polyline#front {
	stroke: white;
	stroke-dasharray: 12, 36;
	stroke-dashoffset: 48;
	animation: dash 1s linear infinite;
}
@-moz-keyframes dash {
	62.5% {
		opacity: 0;
   }
	to {
		stroke-dashoffset: 0;
   }
}
@-webkit-keyframes dash {
	62.5% {
		opacity: 0;
   }
	to {
		stroke-dashoffset: 0;
   }
}
@-o-keyframes dash {
	62.5% {
		opacity: 0;
   }
	to {
		stroke-dashoffset: 0;
   }
}
@keyframes dash {
	62.5% {
		opacity: 0;
   }
	to {
		stroke-dashoffset: 0;
   }
}
