.show {
	display: flex !important;
}

.container-idle {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow: hidden;
	position: fixed;
	background-color: #001f54b5;
	backdrop-filter: blur(2px);
	animation: fadeIn 100ms ease-in;
}

.countdown{
	font-weight: 900;
	font-size: 1.5em;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#clock_wrapper {
    display: flex;
	justify-content: center;
    top: 1em;
    left: 2em;
}

#clock {
    position: relative;
    z-index: 1;
    width: 4em;
    height: 4em;
}

#timer {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 800%;
    text-align: center;
    width: 300px;
    z-index: 2;
    padding-top: 25%;
    color: #000;
    transition: opacity 350ms linear 0s;
    -webkit-transition: opacity 350ms linear 0s;
}

.modal-footer{
	justify-content: center;
	border: none;
}

.modal-dialog{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.modal{
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.required {
	color: red;
	font-weight: 900;
}

.modal-dialog {
	max-width: 90%;
}

.noAlert {
	display: flex;
	justify-content: center;
}

.noAlert span {
	opacity: 0.2;
	color: gray;
	cursor: pointer;
}

.active-noAlert {
	opacity:1 !important;
	color: var(--bs-bg-servicios) !important;
}

.modal-header {
	justify-content: space-between !important;
}