<div class="card card-custom" style="height: 80vh;">
	<div class="card-header">
		<h1 style="line-height: normal;">Tool Map</h1>
	</div>
	<div class="card-body" >
		<div class="row">
			<div class="col-sm-10" style="position: relative; height: 50%; min-height: 400px;" >
				<div class="map-container">
					<div class="map-frame">
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-2" style="display: flex; flex-direction: column; justify-content: center;">
				<div class="form-group">
					<label for="latitude" class="form-label">Latitud</label>
					<input type="number" name="latitude" id="latitude" (change)="getLocation()" [(ngModel)]="searchLatitude" class="form-control">
				</div>
				<div class="form-group">
					<label for="longitude" class="form-label">Longitud</label>
					<input type="number" name="longitude" id="longitude" (change)="getLocation()" [(ngModel)]="searchLongitude" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>