<div class="sidemenu-area">
  <div class="sidemenu-header">
    <a class="navbar-brand d-flex align-items-center">
      <img src="assets/img/logo_v2.svg" alt="image" width="40em">
      <span class="name-brand"><span class="part1">GREEN</span><span class="part2">PULSE</span></span>
    </a>

    <!-- <div class="burger-menu d-none d-lg-block">
      <span class="top-bar"></span>
      <span class="middle-bar"></span>
      <span class="bottom-bar"></span>
    </div> -->

    <div class="responsive-burger-menu d-block d-lg-none">
      <span class="top-bar"></span>
      <span class="middle-bar"></span>
      <span class="bottom-bar"></span>
    </div>
  </div>
  <div class="sidemenu-body">
    <ul class="sidemenu-nav metisMenu h-100" id="sidemenu-nav" data-simplebar>
      <li class="nav-item" routerLinkActive="active mm-active">
        <a routerLink="/perfil" class="nav-link" aria-expanded="false">
          <div class="selected" routerLinkActive="board">
            <img class="tab-table" style="display: none;" routerLinkActive="show" src="assets/img/selected.png" alt="">
            <div class="tab" routerLinkActive="show">
              <span class="icon">
                <i class="fa-solid fa-user"></i>
              </span>
              <span class="menu-title">Profile</span>
            </div>
          </div>
          <!-- <span class="badge">3</span> -->
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active mm-active">
        <a routerLink="/aqi/map" class="nav-link" aria-expanded="false">
          <div class="selected" routerLinkActive="board">
            <img class="tab-table" style="display: none;" routerLinkActive="show" src="assets/img/selected.png" alt="">
            <div class="tab" routerLinkActive="show">
              <span class="icon">
                <i class="fa-solid fa-map"></i>
              </span>
              <span class="menu-title">Map</span>
            </div>
          </div>
          <!-- <span class="badge">3</span> -->
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active mm-active">
        <a routerLink="/aqi/tool" class="nav-link" aria-expanded="false">
          <div class="selected" routerLinkActive="board">
            <img class="tab-table" style="display: none;" routerLinkActive="show" src="assets/img/selected.png" alt="">
            <div class="tab" routerLinkActive="show">
              <span class="icon">
                <span class="superposition-container">
                  <i class="fa fa-map"></i>
                  <i class="fa-solid fa-magnifying-glass superposition-element"></i>
                </span>
                <i class="fa-solid fa-tool"></i>
              </span>
              <span class="menu-title " style="font-size: 24px; width: 280px;">Tool</span>
            </div>
          </div>
          <!-- <span class="badge">3</span> -->
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active mm-active">
        <a routerLink="/aqi/ranking" class="nav-link" aria-expanded="false">
          <div class="selected" routerLinkActive="board">
            <img class="tab-table" style="display: none;" routerLinkActive="show" src="assets/img/selected.png" alt="">
            <div class="tab" routerLinkActive="show">
              <span class="icon">
                <i class="fa-solid fa-ranking-star"></i>
              </span>
              <span class="menu-title " style="font-size: 24px; width: 280px;">Ranking</span>
            </div>
          </div>
          <!-- <span class="badge">3</span> -->
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active mm-active">
        <a routerLink="/users/search" class="nav-link" aria-expanded="false">
          <div class="selected" routerLinkActive="board">
            <img class="tab-table" style="display: none;" routerLinkActive="show" src="assets/img/selected.png" alt="">
            <div class="tab" routerLinkActive="show">
              <span class="icon">
                <i class="fa-solid fa-users"></i>
              </span>
              <span class="menu-title">Search</span>
            </div>
          </div>
          <!-- <span class="badge">3</span> -->
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active mm-active" *ngIf="role==1">
        <a routerLink="/activity/crud" class="nav-link" aria-expanded="false">
          <div class="selected" routerLinkActive="board">
            <img class="tab-table" style="display: none;" routerLinkActive="show" src="assets/img/selected.png" alt="">
            <div class="tab" routerLinkActive="show">
              <span class="icon">
                <i class="fa-solid fa-leaf"></i>
              </span>
              <span class="menu-title " style="font-size: 24px; width: 280px;">EcoActivities</span>
            </div>
          </div>
          <!-- <span class="badge">3</span> -->
        </a>
      </li>


      <li class="nav-item" routerLinkActive="active mm-active" *ngIf="role==2">
        <a routerLink="/activity/eco" class="nav-link" aria-expanded="false">
          <div class="selected" routerLinkActive="board">
            <img class="tab-table" style="display: none;" routerLinkActive="show" src="assets/img/selected.png" alt="">
            <div class="tab" routerLinkActive="show">
              <span class="icon">
                <i class="fa-solid fa-leaf"></i>
              </span>
              <span class="menu-title " style="font-size: 24px; width: 280px;">EcoActivities</span>
            </div>
          </div>
          <!-- <span class="badge">3</span> -->
        </a>
      </li>





    </ul>
  </div>
</div>