.name-brand {
	font-size: 1.5em !important;
}

.superposition-container {
	position: relative;
}

.superposition-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(0.6);
	color: gray;
}

.sidemenu-area .sidemenu-header .navbar-brand .name-brand {
	max-width: 100px;
	white-space: break-spaces;
	display: flex;
	flex-direction: column;
}

.sidemenu-body {
	background-image: url("../../../../assets/img/sidebar_v1.png");
	background-position: right;
	background-size: cover;
}

.part1 {
	font-size: 1.8rem;
	color: green !important;
	line-height: normal;
	font-weight: bolder;
	letter-spacing: 0.5rem;
}

.part2 {
	font-size: 1rem;
	color: lightgreen !important;
	letter-spacing: 1.15rem;
	line-height: normal;
}

.navbar-brand img {
	animation-name: pulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
	}

	40% {
		transform: scale(1);
	}

	60% {
		transform: scale(0.8);
	}

	75% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}

.selected {
	position: relative;
	height: 3rem;
}

.tab {
	position: absolute;
    bottom: 12%;
    left: 14%;
    font-size: 2em;
	color: wheat;
	filter: drop-shadow(1px 3px 1px black) !important;
	opacity: 0.5;
}

.icon {
	font-size: inherit !important;
	color: inherit !important;
}

.sidemenu-area {
	background-color: transparent !important;
}

.tab-table {
	position: absolute;
	filter: drop-shadow(1px 5px 3px black);
}

.show {
	display: block !important;
	opacity: 1;
}

.board {
	height: 6rem !important;
}

.margin-top{
	margin-top: 50px !important;
}