@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
$green-color: #4CAF50;

.user-image {
	object-fit: cover;
	width: 100px !important;
	height: 100px !important;
	background-color: transparent;
	border-radius: 50%;
	max-width: 125px;
}

.country {
	font-family: "Noto Color Emoji", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.view{
  background-color: #7caa95;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: help;
  font-size: 1em;
  margin: 5px;
}
