<div class="card card-custom" style="width: 80%; margin:auto;">
  <div class="card-header">
    <h1>User search</h1>
  </div>
  <div class="card-body">
    <input type="text" class="form-control mb-3" id="text-filter" name="text-filter" [(ngModel)]="textFilter"
      placeholder="Type to search the user" (keyup)="onKeyUp()">
    <div class="album" style="margin-bottom: 2em;">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
          <ng-container *ngFor="let user of users">
            <div class="col">
              <div class="card shadow-sm" style="height: 100%;">
                <div class="card-header" style="margin-bottom: 0;">
                  <h5 class="mb-1" [highlight]="textFilter" [actualValue]="user.fullName" [caseSensitive]="false"></h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="d-flex flex-column align-items-center">
                        <img [src]="user.profilePhoto" class="user-image" alt="Fail load img">
                      </div>
                    </div>
                    <div class="col">
                      <small class="text-muted" [highlight]="textFilter" [actualValue]="'@'+user.username"></small>
                      <p class="card-text mt-1 mb-1" style="font-size: 0.8em;"><b>About me</b> {{user.description}}</p>
                      <p class="card-text mt-1 mb-1" style="font-size: 0.8em;"><b>Points: </b> {{user.points}}</p>
                      <span style="font-size: 0.6em;"><span class="country">{{flags.getFlag(user.country.code)}}</span>{{user.country.name}}</span>
                    </div>
                    <div class="row">
                      <button class="view" (click)="openDialog(user)">View</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <app-pagination [elements]="pagination" (changed)="changePagination()"></app-pagination>
  </div>
</div>
