<div class="col">
  <div class="d-flex gap-2 justify-content-end">
    <button type="button" class="btn btn-outline-primary" *ngIf="showCancel" [routerLink]="cancelRoute">
      Cancelar
    </button>
    <button type="button" class="btn btn-primary px-4" *ngIf="showSave" (click)="saveAction.emit()">
      <i class="fa-solid fa-floppy-disk"></i>
      Guardar
    </button>
  </div>
</div>
