<div class="background">
	<div class="background-item mountains">
	</div>
	<div class="background-item clouds"></div>
	<div class="card card-custom login">
		<div class="row">
			<div class="col-sm-4 container-logo">
				<img src="../../../../../assets/img/logo_v2.svg" class="pulse" alt="">
			</div>
			<div class="col-sm-8 form-login">
				<h1>Change password</h1>
				<div class="form-group">
					<label for="password1" class="form-label">Password</label>
					<input type="password" [(ngModel)]="password1" id="password1" name="password1" class="form-control">
				</div>
				<div class="form-group">
					<label for="password2" class="form-label">Confirm password</label>
					<input type="password" [(ngModel)]="password2" id="password2" name="password2" class="form-control">
				</div>
				<p class="form-text text-danger" *ngIf="password1 && password2 && password1 != password2">
					<b><i class="fa fa-warning"></i> The passwords doesnt match</b>
				</p>
				<app-loading-button [object]="buttonChange" (clicked)="changePassword()"
					[disabled]="loading || !password1 || !password2 || password1 != password2"></app-loading-button>
				<p>
					<a routerLink="/auth/login">SIGN IN</a>
				</p>
			</div>
		</div>
	</div>
	<div class="background-item trees">
	</div>
</div>