@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.background {
	position: relative;
	width: 100%;
	height: 100%;
}

.background-item {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.mountains {
	z-index: -1;
	background-image: url("../../../../../assets/img/mountains.png");
}

.clouds {
	z-index: 2;
	background-image: url(https://s.cdpn.io/15514/clouds_2.png);
	opacity: 0.6;
	background-repeat: repeat-x;
	animation: clouds 30s infinite linear;
}

.trees {
	z-index: 1;
	background-image: url("../../../../../assets/img/trees.png");
}

.login {
	position: fixed;
	left: 30%;
	width: 40%;
	bottom: 30%;
	animation-name: example;
	animation-duration: 2s;
	z-index: 2;
	padding: 1em;
	background: rgba(255, 255, 255, 0.31);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-login p {
	line-height: normal;
}

@keyframes example {
	0% {
		bottom: 0;
		transform: scale(0.3);
		z-index: 0;
	}

	50% {
		bottom: 60%;
		z-index: 2;
		transform: scale(0.5);
	}

	100% {
		bottom: 30%;
		z-index: 2;
	}
}

.pulse {
	animation-name: pulse;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.8);
	}
}


@keyframes clouds {
	0% {
		background-position: -100%;
	}

	50% {
		background-position: 0%;
	}

	100% {
		background-position: 100%;
	}
}

.container-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-bold {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid $gray;
	outline: 0;
	font-size: 1rem;
	color: $white;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown~.form__label {
		font-size: 1rem;
		cursor: text;
		top: 20px;
	}
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 0.8rem;
	color: $gray;
}

.form__field:focus {
	~.form__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 0.6em;
		color: $primary;
		font-weight: 700;
	}

	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, $primary, $secondary);
	border-image-slice: 1;
}

/* reset input */
.form__field {

	&:required,
	&:invalid {
		box-shadow: none;
	}
}

.container-profile-photo {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}