<div class="background">
	<div class="background-item mountains">

	</div>
	<div class="background-item clouds"></div>
	<div class="card card-custom login">
		<div class="row">
			<div class="col-sm-4 container-logo">
				<img src="../../../../../assets/img/logo_v2.svg" class="pulse" alt="">
			</div>
			<div class="col-sm-8 form-login">
				<p>We are</p>
				<h1 class="oswald-bold text-success">GREEN PULSE CAL. FASE 2</h1>
				<div class="form__group field">
					<input type="text" [(ngModel)]="newLogin.email" autocomplete="off" class="form__field"
						placeholder="Email" name="email" id='email' required />
					<label for="email" class="form__label">Email</label>
				</div>
				<div class="form__group field">
					<input type="password" [(ngModel)]="newLogin.password" autocomplete="off" class="form__field"
						placeholder="Email" name="email" id='email' required />
					<label for="email" class="form__label">Password</label>
				</div>
				<app-loading-button [object]="buttonLogin" [disabled]="loading || !newLogin.email || !newLogin.password"
					(clicked)="login()"></app-loading-button>
				<p class="text-muted" style="font-size: 0.8rem;">No account? <a routerLink="/auth/register">Create
						one!</a></p>
			</div>
		</div>
	</div>
	<div class="background-item trees">

	</div>
</div>
