:host {
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
}
.close{
  background-color: #ac7f84;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  margin: 5px;
}
