<h1 mat-dialog-title>Perfil del Usuario</h1>
<div>
  <app-profile [seeOther]="true" [idUser]="data.user.userId"></app-profile>
</div>
<div mat-dialog-actions>
  <button class="close" (click)="onClose()" >Close</button>
</div>
