<ng-container *ngIf="!hide">
  <app-sidebar></app-sidebar>
  <div class="main-content d-flex flex-column">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <div class="flex-grow-1"></div>
    <app-footer></app-footer>
  </div>
</ng-container>
<ng-container *ngIf="hide">
  <router-outlet></router-outlet>
</ng-container>