<div class="background">
	<div class="background-item mountains">

	</div>
	<div class="background-item clouds"></div>
	<div class="card card-custom sign-up">
		<div class="row">
			<div class="col-sm-4 container-logo">
				<img src="../../../../../assets/img/logo_v2.svg" class="pulse" alt="">
			</div>
			<div class="col-sm-8 form-login">
				<h1>SIGN UP</h1>
				<div class="row">
					<div class="col form-group">
						<label for="firstName" class="form-label">First name</label>
						<input type="text" id="firstName" [(ngModel)]="signUp.firstName" placeholder="Your first name"
							name="firstName" class="form-control">
					</div>
					<div class="col form-group">
						<label for="lastName" class="form-label">Last name</label>
						<input type="text" id="lastName" [(ngModel)]="signUp.lastName" placeholder="Your last name"
							name="lastName" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col form-group">
						<label for="email" class="form-label">Email</label>
						<input type="text" [(ngModel)]="signUp.email"
							placeholder="Your email e.g. user@emailprovider.com" id="email" name="email"
							class="form-control">
					</div>
					<div class="col form-group">
						<label for="username" class="form-label">Username</label>
						<input type="text" [(ngModel)]="signUp.username" id="username" placeholder="Your username"
							name="username" class="form-control">
					</div>
				</div>
				<div class="row">
					<div class="col form-group">
						<label for="birthday" class="form-label">Birthday</label>
						<input type="date" [(ngModel)]="signUp.birthday" id="birthday" name="birthday"
							class="form-control">
					</div>
					<div class="col form-group">
						<label for="age" class="form-label">Age</label>
						<input type="number" [(ngModel)]="signUp.age" placeholder="Your age" id="age" name="age"
							class="form-control">
					</div>
					<div class="col form-group">
						<label for="countryId" class="form-label">Country</label>
						<select name="countryId" [(ngModel)]="signUp.countryId" id="countryId" class="form-select">
							<option value="10000">GT - Guatemala</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="form-label">Description</label>
					<textarea name="description" id="description" class="form-control"
						[(ngModel)]="signUp.description"></textarea>
				</div>
				<div class="row">
					<div class="col form-group">
						<label for="profilePhoto" class="form-label">Profile photo</label>
						<input type="file" id="profilePhoto" (change)="onFileChange($event)" name="profilePhoto"
							class="form-control">
					</div>
					<div class="col container-profile-photo">
						<img src="{{signUp.profilePhoto}}" style="height: 30px !important;" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col form-group">
						<label for="password1" class="form-label">Password</label>
						<input type="password" [(ngModel)]="password1" id="password1" name="password1"
							class="form-control">
					</div>
					<div class="col form-group">
						<label for="password2" class="form-label">Confirm password</label>
						<input type="password" [(ngModel)]="password2" id="password2" name="password2"
							class="form-control">
					</div>
				</div>
				<p class="form-text text-danger" *ngIf="password1 && password2 && password1 != password2">
					<b><i class="fa fa-warning"></i> The passwords doesnt match</b>
				</p>
				<app-loading-button [object]="buttonRegister" (clicked)="newSignUp()"
					[disabled]="loading || !signUp.firstName || !signUp.lastName || !signUp.age || !signUp.birthday 
					|| !signUp.countryId || !signUp.email || !signUp.username || !password1 || !password2 || password1 != password2"></app-loading-button>
				<p class="text-muted" style="font-size: 0.8rem;"><a routerLink="/auth/login">I already have an
						account!</a></p>
			</div>
		</div>
	</div>
	<div class="background-item trees">

	</div>
</div>