

.sign-up{
	position: fixed;
	left: 15%;
	width: 70%;
	bottom: 10%;
	z-index: 2;
	padding: 1em;
	animation-name: enterSignUp;
	animation-duration: 2s;
	background: rgba(255, 255, 255, 0.31);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes enterSignUp {
	0% {
		bottom: 0;
		transform: scale(0.3);
		z-index: 0;
	}

	50% {
		bottom: 50%;
		z-index: 2;
		transform: scale(0.5);
	}

	100% {
		bottom: 10%;
		z-index: 2;
	}
}