<div class="card card-custom" style="width: 80%; margin:auto;">
  <div class="card-header">
    <h1>Ecological Activity</h1>
  </div>
  <div class="card-body">
    <!-- case Admin  -->
      <div>
        <div >
          <div class="row container-list">
            <div class="col">
              <h2 *ngIf="listActive.length === 0 && listExpired.length === 0">No ecological activities</h2> 
              <div class="row" *ngIf="listActive.length !== 0"> 
               <h2>Assigned activities</h2> 
      
               <div *ngFor="let activity of listActive; index as i; ">
                <!--  -->
                <div class="button-container">
                  <img src="data:image/jpg;base64,{{activity.activity.activityPhoto}}" alt="Descripción de la imagen" *ngIf="activity.activity.activityPhoto!=null"  class="left-image">
                  <div class="content">
                    <!-- Otros contenidos aquí -->
                     <h5>{{activity.activity.name}}</h5>
                     <p>{{activity.activity.description}}</p>
                     <!-- <p class="pie-card">Date Created: {{activity.activity.publicationDate}}</p> -->
                     <p class="pie-card">Date Expired: {{activity.activity.dateExpiration}}</p>
                  </div>
                  <div class="button-group">
                    <div class="switch-group">
                      <mat-slide-toggle  [checked]="isActive"  (change)="onSwitchChange(activity)"></mat-slide-toggle>
                    </div>
                  </div>
                </div>
      
               </div>
      
      
      
              </div>
              <br>
              <div class="row" *ngIf="listUnAssigned.length !== 0"> 
                <h2> Available Activities</h2>
      

                <div *ngFor="let activity of listUnAssigned; index as i; ">
                  <div class="button-container-exp">
                     <img src="{{activity.activityPhoto}}" alt="Descripción de la imagen" *ngIf="activity.activityPhoto!=null"  class="left-image"> 
                    <div class="content">
                     <h5>{{activity.name}}</h5>
                     <p>{{activity.description}}</p>
                     <!-- <p class="pie-card">Date Created: {{activity.activity.publicationDate}}</p> -->
                     <p class="pie-card">Date Expired: {{activity.publicationExpired}}</p>
                    </div>
                    <div class="button-group">
                 
                
                      <div class="switch-group">
                        <mat-slide-toggle   (change)="onSwitchChangeInact(activity)"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
        
                 </div>
 
              </div>
              <br><br>
            </div>
      
      
          </div>
        </div>


      </div>
  </div>
</div>