

.container-list{
	background-color: white;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 24px;
	
}

.button-container {
	display: flex;
	align-items: center;
	background-color: white;
	padding: 1rem;
	margin-top: 1rem;
	border: 1px solid #00B413;
	border-radius: 24px;
	background-color: #bcfac2;
  }
  
  .left-image {
	margin-right: 1rem; /* Espacio entre la imagen y el contenido */
	height: 50px; /* Ajusta según sea necesario */
  }
  
  .content {
	flex-grow: 1; /* Ocupa todo el espacio disponible en el centro */
  }
  
  .button-group {
	display: flex;
	gap: 1rem; /* Espacio entre los botones */
  }
 
  .icon-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem; /* Tamaño de los iconos */
	color: #000; /* Color de los iconos */
  }
  
  .icon-button:hover {
	color: #00B413; /* Color al pasar el ratón por encima */
  }
  
  .pie-card{
	font-size: small;
  }
  

  .button-container-exp {
	display: flex;
	align-items: center;
	background-color: white;
	padding: 1rem;
	margin-top: 1rem;
	border: 1px solid #b40000;
	border-radius: 24px;
	background-color: #fcb1b1;
  }

  .icon-button-exp {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem; /* Tamaño de los iconos */
	color: #000; /* Color de los iconos */
  }
  
  .icon-button-exp:hover {
	color: #b40000; /* Color al pasar el ratón por encima */
  }

  .btn-succes{
	background-color: #00B413;
  }


  .switch-group {
	display: flex;
	align-items: center;
	gap: 1rem; /* Espacio entre el contenido y el switch */
  }
  
  .mat-slide-toggle {
	font-size: 1.2rem; /* Ajusta según sea necesario */
  }

/* Estilos personalizados para el mat-slide-toggle */
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
	background-color: green; /* Color del thumb cuando está activado */
  }
  
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
	background-color: rgba(0, 128, 0, 0.5); /* Color de la barra cuando está activada */
  }



  .button-container-new {
	display: flex;
	align-items: center;
	background-color: white;
	padding: 1rem;
	margin-top: 1rem;
	border: 1px solid #a4a0a0;
	border-radius: 24px;
	background-color: #f2efef;
  }

  .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #00B413;
    --mdc-switch-selected-handle-color:  #00B413;
    --mdc-switch-selected-hover-state-layer-color: #00B413;
    --mdc-switch-selected-pressed-state-layer-color:  #00B413;
    --mdc-switch-selected-focus-handle-color:  #00B413;
    --mdc-switch-selected-hover-handle-color:  #00B413;
    --mdc-switch-selected-pressed-handle-color:  #00B413;
    --mdc-switch-selected-focus-track-color:  #00B413;
    --mdc-switch-selected-hover-track-color:  #00B413;
    --mdc-switch-selected-pressed-track-color:  #00B413;
    --mdc-switch-selected-track-color:  #00B413;
}