<div class="card card-custom" style="width: 80%; margin:auto;">
  <div class="card-header">
    <h1>Ecological Activity</h1>
  </div>
  <div class="card-body">
    <!-- case Admin  -->
      <div>
        <div class="row">
          <div class="col-sm-4 container-logo">
            <img src="../../../../../assets/img/logo_v2.svg" class="pulse" alt="">
          </div>
          <div class="col-sm-8 form-login">
            <h1 *ngIf="newActivity">Record activity</h1>
            <h1 *ngIf="!newActivity">Update activity</h1>

            <div class="row">
              <div class="col form-group">
                <label for="firstName" class="form-label">Title of the activity</label>
                <input type="text" id="firstName"  placeholder="Write the Title of the activity"
                [(ngModel)]="ActivityUp.name"
                  name="firstName" class="form-control">
              </div>
            </div>
    
            <div class="row">
              <div class="col form-group">
                <label for="birthday" class="form-label">Expiration date</label>
                <input type="date"  id="birthday" name="birthday"
                [(ngModel)]="ActivityUp.publicationExpired"
                  class="form-control">
              </div>
            </div>
    
            <div class="form-group">
              <label for="description" class="form-label">Description</label>
              <textarea name="description" id="description" class="form-control"
              [(ngModel)]="ActivityUp.description"
                ></textarea>
            </div>
    
            <div class="row">
              <div class="col-md-9 form-group" >
                <label for="profilePhoto" class="form-label">Activity photo</label>
                <input type="file" id="profilePhoto"  name="profilePhoto" (change)="onFileChange($event)"
                  class="form-control">
              </div>
              <div class="col-md-3" >
                <div class="container-photo">
                  <img src="{{ActivityUp.activityPhoto}}" style="height: 70px !important;"  alt=""> 
                </div>
                 
              </div>
            </div>
            <div class="row">
              <label for="profilePhoto" class="form-label">Activate Activity</label>
              <div class="switch-group">
                <mat-slide-toggle [(ngModel)]="ActivityUp.state"></mat-slide-toggle>
              </div>
            </div>
            <br>
            <button class="btn btn-succes mt-1 mb-3" (click)="newActivityUp()" *ngIf="newActivity">
              SAVE
              <!-- <i  class="fa-solid "></i> -->
              <!-- <span  class="spinner-border spinner-border-sm"></span> -->
            </button>

            <button class="btn btn-info mt-1 mb-3" (click)="updateActivityUp(false)" *ngIf="!newActivity">
              UPDATE
              <!-- <i  class="fa-solid "></i> -->
              <!-- <span  class="spinner-border spinner-border-sm"></span> -->
            </button>
    
          </div>
        </div>


        <div >
          <div class="row container-list">
            <div class="col">
              <h2 *ngIf="listActive.length === 0 && listExpired.length === 0">No ecological activities</h2> 
              <div class="row" *ngIf="listActive.length !== 0"> 
               <h2>Active Activities</h2> 
      
               <div *ngFor="let activity of listActive; index as i; ">
                <!--  -->
                <div class="button-container">
                  <img src="{{activity.activityPhoto}}" alt="Descripción de la imagen" *ngIf="activity.activityPhoto!=null" class="left-image">
                  <div class="content">
                    <!-- Otros contenidos aquí -->
                     <h5>{{activity.name}}</h5>
                     <p>{{activity.description}}</p>
                     <p class="pie-card">Date Created: {{activity.publicationDate}}</p>
                     <p class="pie-card">Date Expired: {{activity.publicationExpired}}</p>
                  </div>
                  <div class="button-group">
                    <button class="icon-button" (click)="Edit(activity,activity.id)">
                      <!-- <i class="fas fa-plus"></i> -->
                      <i class="fas fa-edit"></i>
                    </button>
                    <!-- <button class="icon-button">
                      <i class="fas fa-trash-alt"></i>
                    </button> -->
                    <div class="switch-group">
                      <mat-slide-toggle [(ngModel)]="activity.state" (change)="onSwitchChange(activity,activity.id)"></mat-slide-toggle>
                    </div>
                  </div>
                </div>
      
               </div>
      
      
      
              </div>
              <br>
              <div class="row" *ngIf="listExpired.length !== 0"> 
                <h2>Inactive Activities</h2>
      
                <!-- prueba inicio -->
               <!-- <div>
                <div class="button-container-exp">
                  <img src="../../../../assets/img/actividades.png" alt="Descripción de la imagen" class="left-image">
                  <div class="content">
                
                     <h5>Titulo Actividad</h5>
                     <p>Descripcion General sobre la actividad que se llevara acabo Este es el contenido principal del contenedor.</p>
                     <p class="pie-card">Fecha de vencimiento 14/07/2024</p>
                  </div>
                  <div class="button-group">
                    <button class="icon-button-exp">
                      
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="icon-button-exp">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
               </div> -->
               <!-- prueba fin -->

                <div *ngFor="let activity of listExpired; index as i; ">
                  <div class="button-container-exp">
                    <img src="{{activity.activityPhoto}}" alt="Descripción de la imagen" *ngIf="activity.activityPhoto!=null"  class="left-image">
                    <div class="content">
                     <h5>{{activity.name}}</h5>
                     <p>{{activity.description}}</p>
                     <p class="pie-card">Date Created: {{activity.publicationDate}}</p>
                     <p class="pie-card">Date Expired: {{activity.publicationExpired}}</p>
                    </div>
                    <div class="button-group">
                      <button class="icon-button-exp" (click)="Edit(activity,activity.id)">
                        <i class="fas fa-edit"></i>
                      </button>
                      <!-- <button class="icon-button-exp">
                        <i class="fas fa-trash-alt"></i>
                      </button> -->
                      <div class="switch-group">
                        <mat-slide-toggle [(ngModel)]="activity.state" (change)="onSwitchChange(activity,activity.id)"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
        
                 </div>
 
              </div>
              <br><br>
            </div>
      
      
          </div>
        </div>


      </div>
     <!-- case Admin  -->
    
    <!-- <app-pagination></app-pagination> -->
  </div>
</div>