<nav class="navbar top-navbar navbar-expand">
	<div class="collapse navbar-collapse" id="navbarSupportContent">
		<div class="responsive-burger-menu d-block d-lg-none" style="color: white;">
			<span class="top-bar"></span>
			<span class="middle-bar"></span>
			<span class="bottom-bar"></span>
		</div>
		<ul class="navbar-nav">
			<li class="nav-item dropdown profile-nav-item">
				<a class="nav-link dropdown-toggle" role="button" type="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					<div class="menu-profile" style="font-size: 1.5rem;">
						<span class="name">{{saludar()}}<b></b>!</span>
						<button class="btn" style="background-color: wheat;margin-left: 1em;">
							<i class="fa fa-bars"></i>
						</button>
					</div>
				</a>
				<div class="dropdown-menu">
					<div class="dropdown-body">
						<ul class="profile-nav p-0 pt-3">
							<li class="nav-item">
								<a routerLink="/perfil" class="nav-link">
									<i class='bx bx-user'></i> <span>Perfil</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="dropdown-footer">
						<ul class="profile-nav">
							<li class="nav-item">
								<a href="#" (click)="logout()" class="nav-link">
									<i class='bx bx-log-out'></i> <span>Cerrar Sesión</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<ul></ul>
	</div>
</nav>
