<div *ngIf="user" class="profile-container">
  <div class="profile-header">
    <img [src]="getProfilePhoto()" alt="Profile Image" class="profile-image">
    <h2 class="profile-name">{{ isEditing ? 'Editar Perfil' : user.fullName }}</h2>
    <div *ngIf="isEditing">
      <input type="file" [(ngModel)]="user.profilePhoto" (change)="onFileSelected($event)" accept="image/*">
    </div>
  </div>

  <div class="profile-details">
    <div class="detail-item" *ngIf="!isEditing">
      <i class="icon bx bx-user-circle"></i>
      <span>{{ user.username }}</span>
    </div>
    <div class="detail-item" *ngIf="isEditing">
      <i class="icon bx bx-user-circle"></i>
      <input type="text" [(ngModel)]="user.username" placeholder="Username" required/>
    </div>

    <div class="detail-item" *ngIf="isEditing">
      <i class="icon bx bx-user"></i>
      <input type="text" [(ngModel)]="user.firstName" placeholder="First Name" required/>
    </div>
    <div class="detail-item" *ngIf="isEditing">
      <i class="icon bx bx-user"></i>
      <input type="text" [(ngModel)]="user.lastName" placeholder="Last Name" required />
    </div>

    <div class="detail-item" *ngIf="!isEditing">
      <i class="icon bx bx-envelope"></i>
      <span>{{ user.email }}</span>
    </div>

    <div class="detail-item">
      <i class="icon bx bx-map"></i>
      <span *ngIf="!isEditing">{{ user.country?.name }}</span>
      <select *ngIf="isEditing" [(ngModel)]="user.country" name="country" required>
        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
      </select>
    </div>

    <div class="detail-item" *ngIf="!isEditing">
      <i class="icon bx bx-calendar"></i>
      <span>{{ user.birthday }}</span>
    </div>
    <div class="detail-item" *ngIf="isEditing">
      <i class="icon bx bx-calendar"></i>
      <input type="date" [(ngModel)]="user.birthday" required />
    </div>

    <div class="detail-item" *ngIf="!isEditing">
      <i class="icon bx bx-hourglass"></i>
      <span>{{ user.age }}</span>
    </div>
    <div class="detail-item" *ngIf="isEditing">
      <i class="icon bx bx-hourglass"></i>
      <input type="number" [(ngModel)]="user.age" required />
    </div>

    <div class="detail-item" *ngIf="!isEditing">
      <i class="icon bx bx-info-circle"></i>
      <span>Description: {{ user.description }}</span>
    </div>
    <div class="detail-item" *ngIf="!isEditing">
      <i class="icon bx bx-info-circle"></i>
      <span>Points: {{ user.points }}</span>
    </div>
    <div class="detail-item" *ngIf="isEditing">
      <i class="icon bx bx-info-circle"></i>
      <input type="text" [(ngModel)]="user.description" required />
    </div>
  </div>
  <div *ngIf="!seeOther" class="profile-footer">
    <button class="btn btn-edit" (click)="toggleEdit()" *ngIf="!isEditing">Editar Perfil</button>
    <button class="btn btn-save" (click)="saveProfile()" *ngIf="isEditing">Guardar</button>
  </div>
</div>
