$green-color: #4CAF50;
$dark-green-color: #45a049;
$light-green-color: #8bc34a;
$lighter-green-color: #7cb342;
$red-color: #f44336;
$darker-red-color: #e53935;
$background-color: #eaf4e2;
$border-color: #c3e0c6;
$text-color: #2f4f4f;

.profile-container {
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 20px;
  width: 350px; // Aumentado para ajustarse al nuevo contenido
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;

  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .profile-name {
    font-size: 1.5em;
    color: $text-color;
    margin-top: 10px;
  }
}

.profile-details {
  margin-top: 20px;

  .detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: $text-color;

    .icon {
      font-size: 1.2em;
      margin-right: 10px;
      color: $green-color;
    }
  }
}

.profile-footer {
  text-align: center;
  margin-top: 20px;

  .btn {
    background-color: $green-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;

    &:hover {
      background-color: $dark-green-color;
    }
  }

  .btn-edit {
    background-color: $light-green-color;

    &:hover {
      background-color: $lighter-green-color;
    }
  }

  .btn-logout {
    background-color: $red-color;

    &:hover {
      background-color: $darker-red-color;
    }
  }
}
