<div class="row pagination-controller" style="margin:0">
	<div class="col">
		<div class="input-group input-group-sm" *ngIf="elements.pageSize%4==0">
			<label for="pageSize" class="input-group-text"><i class="fa fa-eye" style="color: var(--bs-bg-servicios)"></i></label>
			<select name="pageSize" [(ngModel)]="elements.pageSize" (change)="changePageSize()" id="pageSize" class="form-select">
				<option value="4">4</option>
				<option value="8">8</option>
				<option value="24">24</option>
				<option value="60">60</option>
				<option value="100">100</option>
			</select>
		</div>
	</div>
	<div class="col">
		<div class="input-group input-group-sm">
			<label for="pageIndex" class="input-group-text"><i class="fa fa-file" style="color: var(--bs-bg-servicios)"></i></label>
			<input type="number" name="pageIndex" style="text-align: center;" class="form-control" (change)="changePageIndex()" [(ngModel)]="elements.pageIndex" [min]="1" [max]="getMaxPage()" step="1" id="pageIndex">
		</div>
	</div>
	<div class="col info-controller">
		<span>{{elements.startElement}} - {{elements.lastElement}} de {{elements.total}}</span>
	</div>
	<div class="col controls">
		<i class="fa fa-angles-left" [ngClass]="elements.pageIndex==1?'inactive':'active'" (click)="start()"></i>
		<i class="fa fa-chevron-left" [ngClass]="elements.pageIndex==1?'inactive':'active'" (click)="previous()"></i>
		<i class="fa fa-chevron-right" [ngClass]="isOnLastPage()?'inactive':'active'" (click)="next()"></i>
		<i class="fa fa-angles-right" [ngClass]="isOnLastPage()?'inactive':'active'" (click)="last()"></i>
	</div>
</div>