.loading {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(2); */
	display: inline-block;
}

.loading svg polyline {
	fill: none;
	stroke-width: 7;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.loading svg polyline#back {
	stroke: rgb(0, 57, 0);
}

.loading svg polyline#front {
	stroke: white;
	stroke-dasharray: 60, 180;
	stroke-dashoffset: 240;
	animation: dash 1s linear infinite;
}

@-moz-keyframes dash {
	62.5% {
		opacity: 0;
	}

	to {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes dash {
	62.5% {
		opacity: 0;
	}

	to {
		stroke-dashoffset: 0;
	}
}

@-o-keyframes dash {
	62.5% {
		opacity: 0;
	}

	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	62.5% {
		opacity: 0;
	}

	to {
		stroke-dashoffset: 0;
	}
}

.container-loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.loading {
	position: relative;
	transform: scale(4.5);
    bottom: -20vh;
}

.loading img {
	position: absolute;
	top: -2%;
	left: 10%;
	z-index: -1;
	width: 80%;
}
.map-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.map-frame {
	height: 100%;
}

#map {
	height: 100%;
}

.aqi {
	padding: 0.5em;
    display: inline-block;
    border-radius: 1em;
}