<div class="card card-custom">
	<div class="card-header">
		<h1 style="line-height: normal;text-align: center;">Ranking</h1>
	</div>
	<div class="card-body">
		<div class="container-loading" *ngIf="loading">
			<div class="loading">
				<svg width="80px" height="60px">
					<polyline id="back" points="5 30 20 30 30 55 50 5 60 30 75 30"></polyline>
					<polyline id="front" points="5 30 20 30 30 55 50 5 60 30 75 30"></polyline>
				</svg>
				<img src="assets/img/logo_v3.svg" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8" style="position: relative; height: 50%; min-height: 350px;">
				<div class="map-container">
					<div class="map-frame">
						<div id="map"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-4" [hidden]="loading && countries.length == 0">
				<div class="table-responsive" style="max-height: 350px;">
					<table class="table">
						<thead>
							<tr class="tr-middle">
								<th>#</th>
								<th>Country</th>
								<th>AQI</th>
							</tr>
						</thead>
						<tbody>
							<tr class="tr-middle" *ngFor="let country of countries; let i = index">
								<td>{{i+1}}</td>
								<td>{{country.country}}</td>
								<td>
									<span class="aqi" [style]="'background-color: '+country['color']+';'">
										{{country.aqi}}
										<i [ngClass]="country['icon']" class="fa"></i>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>